<div class="post-container">
  <div class="post-title">{{ post.name }}</div>
  <div class="post-meta">
    <span class="attr">发布于：
      <span>{{ post.formated_ctime }}</span>
    </span>
    <span class="attr">标签：
      <span>{{ post.tag }}</span>
      </span>
    <span class="attr">访问：
      <span id="busuanzi_value_page_pv">1368</span></span>
  </div>
    <div class="markdown-body post-content post_href">
        <h4>
            <a href="{{ 'https://{}/{}/{}.html'.format(cfg.weisite.host, post.tag, post.name) }}">原文地址</a>
            {% if post.postfix=='.ipynb' %}
            |
            <a href="{{ '{}/{}/{}.ipynb'.format(cfg.github.notebook_preview_url, post.org_tag, post.name) }}">Notebook 地址</a>
        </h4>
        {% endif %}
        {{ post_content }}
  </div>
    <script>
        var posts = document.getElementsByClassName('post_href')[0].getElementsByTagName('a');
        for (var i=0; i<posts.length; i++)
            posts[i].setAttribute('target', '_blank');
    </script>
</div>