---
title: Zhizhong Huang
github_user: Hzzone
real_name: Zhizhong Huang
short: To be talented & positive.
summary: I am a second year Ph.D. student at Fudan University advised by <a href="https://scholar.google.com/citations?user=Aib_NTYAAAAJ&hl=en">Prof. Junping Zhang</a> and <a href="https://scholar.google.com/citations?user=RYfSzKwAAAAJ&hl=en">Dr. Hongming Shan</a>. Previously, I got my bachelor's degree from Sichuan University in 2019. My main research interests include generative model and biometrics, especially face-related applications.
---
<!DOCTYPE html>
<html>
  
<head>
    <title>{{page.title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="css/resume.css">
</head>
<body>
    <div class="container">
        <div id="header">
        <div id="name-wrapper">
            <div id="fullname">{{page.real_name}}</div>
            <div>(黄智忠)</div>
            <div id="jobtitle">{{page.short}}</div></div>
        <div id="contact">
            <div class="contact-item"><a href="https://hzzone.github.io/">Homepage</a> <strong>|</strong> <a href="https://scholar.google.com/citations?user=6Itl2tMAAAAJ&hl=en">Google Scholar</a> <strong>|</strong> <a href="https://github.com/Hzzone">GitHub</a></div>
<!--             <div class="contact-item">GitHub:
            <a href="https://github.com/Hzzone">https://github.com/Hzzone</a></div>
 -->            <div class="contact-item">Email:
            <a href="mailto:zzhuang19@fudan.edu.cn">zzhuang19@fudan.edu.cn</a></div>
        </div>
        </div>
        <section id="summary">
        <h3 class="section-title">Summary</h3>
        <div class="section-content">
            <div class="block">
            <div class="block-content">{{page.summary}}</div></div>
        </div>
        </section>
        <section id="education">
        <h3 class="section-title">Education</h3>
        <div class="section-content">
            <ul>
            <li>
                <div class="block">
                <div class="block-title">Sichuan University</div>
                <div class="block-subtitle">2015-2019&ensp;|&ensp;Chengdu, China.</div>
                <div class="block-content">Bachelor in Software Engineering. GPA: 3.71/4.0(4%)</div></div>
        </li>
        <li>
            <div class="block">
            <div class="block-title">Fudan University</div>
            <div class="block-subtitle">2019-Now&ensp;|&ensp;Shanghai, China.</div>
            <div class="block-content">Ph.D. candidate in Computer Science.</div></div>
        </li>
        </ul>
        </div>
        </section>
        <section id="awards">
            <h3 class="section-title">Awards</h3>
            <div class="section-content">
            <ul>
                {% for award in site.data.awards %}
                <li>
                    <div class="block">
                        <div class="block-subtitle">{{award}}</div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            </div>
        </section>
        <section id="publication">
            <h3 class="section-title">Publications</h3>
            <div class="section-content">
            <ul>
                {% for publication in site.data.publications %}
                {% assign pub_size=site.data.publications | size %}
                <li>
                <div class="block">
                    <div class="block-subtitle">
                        [{{ pub_size | minus: forloop.index | plus: 1}}] {{publication.author}}. "{{publication.title}}." {{publication.press}}
                        {% for others in publication.others %}
                        [<a href="{{others[1]}}">{{others[0]}}</a>]
                        {% endfor %}
                        <div style="display: inline;">[<a class="fakelink" onclick="$(this).siblings('.bibref').slideToggle()">bibtex</a>]<div class="bibref">{{publication.bibtex}}</div></div>
                        <br>
                    </div>
                </li>
                {% endfor %}
            </ul>
            </div>
        </section>
        <section id="project">
            <h3 class="section-title">Projects</h3>
            <div class="section-content">
            <ul>
                {% for project in site.data.projects %}
                <li>
                    <div class="block">
                    <div class="block-title">{{project.name}}</div>
                    <div class="block-subtitle">
                        <a href="https://github.com/{{page.github_user}}/{{project.name}}" target="_blank"><img src="https://img.shields.io/github/stars/{{page.github_user}}/{{project.name}}.svg?style=social&label=Star&maxAge=180"></img></a>
                        <a href="https://github.com/{{page.github_user}}/{{project.name}}" target="_blank"><img src="https://img.shields.io/github/forks/{{page.github_user}}/{{project.name}}.svg?style=social&label=Fork&maxAge=180"></img></a>
                    </div>
                    <div class="block-content">{{project.description}}</div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</body>

</html>